<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advanced Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
    <body>
        <div class="container px-4 px-lg-5 mt-5">      
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-left">
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/vw_tiguan.jpg" alt="..." height="150"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">VW Tiguan</h5>
                                <!-- Product price-->
                                26000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Diesel</p>
                                <!-- Product mileage-->
                                <p>168230km</p>
                                <!-- Product production year-->
                                <p>2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/audi_q5.jpg" alt="..." height="150" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Audi Q5</h5>
                                <!-- Product price-->
                                33000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Diesel</p>
                                <!-- Product mileage-->
                                <p>251000km</p>
                                <!-- Product production year-->
                                <p>2014</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/audi_q8.webp" alt="..." height="150"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Audi Q8</h5>
                                <!-- Product price-->
                                120000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Diesel</p>
                                <!-- Product mileage-->
                                <p>99000km</p>
                                <!-- Product production year-->
                                <p>2021</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/aud_tt.jpg" alt="..." height="150"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Audi TT</h5>
                                <!-- Product price-->
                                73000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Gasoline</p>
                                <!-- Product mileage-->
                                <p>110000km</p>
                                <!-- Product production year-->
                                <p>2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/vw_tiguan.jpg" alt="..." height="150"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">VW Tiguan</h5>
                                <!-- Product price-->
                                26000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Diesel</p>
                                <!-- Product mileage-->
                                <p>168230km</p>
                                <!-- Product production year-->
                                <p>2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/audi_q5.jpg" alt="..." height="150" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Audi Q5</h5>
                                <!-- Product price-->
                                33000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Diesel</p>
                                <!-- Product mileage-->
                                <p>251000km</p>
                                <!-- Product production year-->
                                <p>2014</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/audi_q8.webp" alt="..." height="150"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Audi Q8</h5>
                                <!-- Product price-->
                                120000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Diesel</p>
                                <!-- Product mileage-->
                                <p>99000km</p>
                                <!-- Product production year-->
                                <p>2021</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/aud_tt.jpg" alt="..." height="150"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Audi TT</h5>
                                <!-- Product price-->
                                73000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Gasoline</p>
                                <!-- Product mileage-->
                                <p>110000km</p>
                                <!-- Product production year-->
                                <p>2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5" onclick="window.location='#vehicle_details'">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/vehicles/aud_tt.jpg" alt="..." height="150"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Audi TT</h5>
                                <!-- Product price-->
                                73000 KM
                            </div>
                            <hr>
                            <div>
                                <!-- Product fuel type-->
                                <p>Gasoline</p>
                                <!-- Product mileage-->
                                <p>110000km</p>
                                <!-- Product production year-->
                                <p>2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
