<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Advanced Search</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">
      </head>
    <body>
    <div class="container mt-4">
        <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="assets/vehicles/aud_tt.jpg" width="300" height="300" class="card-img" alt="Vehicle Image">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Audi TT</h5>
                <p class="card-text">Price: 73000KM</p>
                <p class="card-text">Brand: Audi</p>
                <p class="card-text">Model: TT</p>
                <p class="card-text">Fuel Type: Gasoline</p>
                <p class="card-text">Mileage: 110000km</p>
                <p class="card-text">Year: 2019</p>
                <p class="card-text">Transmission: Automatic</p>
                <p class="card-text">Engine displacement: 2.0</p>
            </div>
            </div>
            <textarea class="form-control" rows="5" readonly>All services up to date, in perfect condition</textarea>
        </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html> 
